/* CSS reset */
ol, ul, dl{
  margin: 0;
  padding: 0;
}
html,body {
  margin:0;
  padding:0;
}

/* title-section */
.title-section{
  display: block;
  text-align: center;
}

.title-section h2{
  font-size: 45px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #fc8602;
}
.title-section h4{
  font-size: 20px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #736ee1;
  margin-bottom: 30px;
}

/* Header */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
}
/* menu-section */
.menu-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  padding: 0 20px;
}

.menu-section .logo img{
  width: 100px;
}

.menu-section ul{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.menu-section ul li{
  list-style: none;
  margin-right: 10px;
}
.menu-section ul li a{
  text-decoration: none;
  display: inline-block;
  color: #282c3f;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding:30px 10px;
  font-size: 14px;
  position: relative;
  transition: all linear .3s;
  
}
.menu-section ul li a::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #f26a10;
  transition: all linear .2s;
}
.menu-section ul li a:hover::before{
  height: 2px;
}
.menu-section ul li a small{
  color: #ff3f6c;
  position: absolute;
  top: 45%;
  left: 110%;
  transform: translate(-50%,-50%);
  font-size: 10px;
}
/* profile-section */
.profile-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  padding: 0 20px;
}

/* profile-section */

.profile-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-section .search-bar-wrapper{
  width: 60%;
  position: relative;
}

.profile-section .search-bar-wrapper input{
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 24px;
    color: #696e79;
    padding: 8px 10px 10px;
    margin: 0;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-radius: 4px;
    border-left: 0;
    background: #f5f5f6;
    width: 100%;
    padding: 18px;
    padding-left: 40px;
}

.profile-section .search-bar-wrapper input::placeholder{
  color: #696e79;
  font-family: 'Roboto', sans-serif;
}
.profile-section .search-bar-wrapper input:focus{
  background: transparent;
  border: 1px solid #f5f5f6;
}
.profile-section .search-bar-wrapper span{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%,-50%);
}

.profile-section .profiles{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-section .profiles svg{
  display: block;
  margin: auto;
}
.profile-section .profile-single-block{
  display: block;
  text-align: center;
  margin-left: 15px;
  position: relative;
}
.profile-section .profile-single-block a{
  display: inline-block;
  color: #333;
  text-decoration: none;
}
.profile-section .profile-single-block span{
  display: inline-block;
}

.profile-section .profile-single-block span.bagCount{
  background-color: #fc8602;
  position: absolute;
  top: -13px;
  right: -13px;
  z-index: 1;
  line-height: initial;
  font-size: 13px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* coupon-section */
.coupon-section img{
  width: 100%;
}

/* Banner */
.banner img{
  width: 100%;
}

/* all-items */
.all-items{
  background-color: #fafafa;
  padding: 40px 0;
}
/* items-container */
.items-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

.items-container .item-container{
  width: 23%;
  margin-bottom: 15px;
  position: relative;
}

.item-container .item-image-wrapper{
  overflow: hidden;
  position: relative;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.item-container .item-image{
  width: 100%;
  transition: all linear .3s;;
}
.item-container .item-image-wrapper:hover .item-image{
  transform: scale(1.1);
}
.item-container .rating {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 9;
  background-color: #fff;
  padding: 5px 10px;
}

.item-container .company-name {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-container .wishList button{
  display: inline-block;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}
.item-container .item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

.item-container .current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}

.item-container .original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.item-container .discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.item-container .btn-add-bag {
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
    background-color: #736ee1;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    color: #fff;
}

.item-container .btn-add-bag.btn-remove-bag {
  
  background-color: #d9534f;
}

/* categories-wrapper */
.categories-wrapper{
  padding: 40px 0;
}

.all-category{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.all-category .single-category{
  width: 12.5%;
  display: block;
  text-align: center;
}

.all-category .single-category a{
  text-decoration: none;
  color: #282c3f;
  display: block;
}

.all-category .single-category a h5{
  margin-top: 10px;
}

.all-category .single-category a img{
  transition: all linear .2s;
}

.all-category .single-category a:hover img{
  transform: scale(1.1);
}

/* download */

.download img{
  width: 100%;
}

/* footer */
footer{
padding: 50px 0;
}

footer h3{
  font-size: 13px;
  font-weight: 700;
  color: #282c3f;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer ul li{
  list-style: none;
  line-height: 2;
}

footer ul li a{
  display: block;
  text-decoration: none;
  color: #696b79;
  font-size: 15px;
}

footer .brands{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .brands img{
  width: 150px;
}

footer .keep-in-touch{
  margin-top: 20px;
}

footer .keep-in-touch .social-medias{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .keep-in-touch .social-medias > a{
  text-decoration: none;
  color: #696b79;
  margin-right: 20px; 
}
footer .keep-in-touch .social-medias > a > svg{
  transform: scale(1.5);
}

footer .whyus-single{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .whyus-single span{
  display: inline-block;
  margin-right: 10px;
}
footer .whyus-single span > img{
  width: 50px;
}
footer .whyus-single p {
  color: #696b79;
  font-size: 15px;
}
footer .whyus-single p strong{
color: #282c3f;
}

/* Bags Page */

.bag-items-container {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}
.wish-items-container{
  display: block;
  width: 100%;
  padding-top: 40px;
}
.bag-page {
  width: 75%;
  margin-left: 12.5%;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-bottom: 16px;
}

.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-item-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: max-content;
  width: 111px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-item-img {
  width: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}


/* Login Page */

.mytra-login{
  width: 100%;
  display:flex;
  background:#fdeeec;
  padding: 50px 0;
}

.mytra-login form{
  padding:25px 50px;
  background-color: #fff;
  margin: auto;
}

.mytra-login form .heading{
  font-size:1.4em;
  margin-top:15px;
}

.mytra-login form p{
  font-size:.95em;
  color:#444;
  margin-bottom:40px;
}

.mytra-login form label{
  display:block;
  margin-top:20px;
  color:#444;
}

.mytra-login form input{
  border:none;
  outline:none;
  border-bottom:1px solid #000;
  width:100%;
  padding:10px 0px;
}



.mytra-login form .forgot{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:20px;
  color:#444;
  font-size:.85em;
}

.mytra-login form .forgot label{
  margin-top:0;
  font-size:1em;
}

.mytra-login form .forgot input{
  width:auto;
}


.mytra-login form .forgot a{
  color:#E72744;
  cursor:pointer;
}


.mytra-login form button{
  border:none;
  outline:none;
  margin-top:40px;
  padding:12px 0px;
  border-radius:5px;
  cursor:pointer;
}

.mytra-login form .login{
  width:55%;
  color:#fff;
  background:#E72744;
  margin-right: 15px;
}

.mytra-login form .login:hover{
  background:#fff;
  color:#E72744;
  box-shadow:0 0 10px #ccc;
}

.mytra-login form .signup{
  width:38.5%;
  color:#E72744;
  background:#fff;
  box-shadow:0 0 10px #ccc;
}

.mytra-login form .signup:hover{
  background:#e72744;
  color:#fff;
}

/* breadcrumb */

.breadcrumb{
  background-color: #eee;
  padding: 20px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
}

.breadcrumb a{
  text-decoration: none;
  display: inline-block;
  color: #282c3f;
}

/* single-item-details */
.single-item-details{
  padding: 0 0 40px 0;
  background-color: #fff;
}


.single-item-details .item-images > img{
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.single-item-content {
  
  padding:0  20px;
}

.single-item-content .product-title {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #282c3f;
}

.single-item-content .description {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.single-item-content .ratings {
  
  margin-bottom: 5px;
  display: inline-block;
  padding: 3px 8px;
  background-color: #fc8602;
  color: #fff;
}

.single-item-content .stockItems {
  margin-bottom: 5px;
  display: inline-block;
  padding: 3px 8px;
  background-color: #fc8602;
  color: #fff;
  margin-left: 10px;
}

.single-item-content .brands {
  font-style: italic;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.single-item-content .categories {
  text-transform: uppercase;
  color: #282c3f;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Roboto';
}

.single-item-content .price {
  font-size: 22px;
  color: #333;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #333;
}
.single-item-content .beforeDiscount{
  text-decoration: line-through;
  font-size: 17px;
  font-weight: 400;
  opacity: .5;
}
.single-item-content .discounted-price {
  font-size: 18px;
  color: #e74c3c;
  margin-top: 10px;
}

.single-add-to-cart .btn-add-bag {
  margin-top: 8px;
  font-size: 18px;
  width: max-content;
  background-color: #736ee1;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  color: #fff;
}


/* Checkout Pagee */

.checkout-form-container {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.checkout-form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.checkout-form-container .form-group {
  margin-bottom: 15px;
}

.checkout-form-container .form-group label {
  display: block;
  font-weight: bold;
}

.checkout-form-container .form-group input,
.checkout-form-container .form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.checkout-form-container .form-row {
  display: flex;
  gap: 10px;
}

.checkout-form-container .form-group.col-6 {
  flex: 1;
}

.checkout-form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
