/* CSS reset */
ol, ul, dl{
  margin: 0;
}
html,body {
  margin:0;
  padding:0;
}

/* title-section */
.title-section{
  display: block;
  text-align: center;
}

.title-section h2{
  font-size: 45px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #fc8602;
}
.title-section h4{
  font-size: 20px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #736ee1;
  margin-bottom: 30px;
}

/* Header */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
}
/* menu-section */
.menu-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  padding: 0 20px;
}

.menu-section .logo img{
  width: 100px;
}

.menu-section ul{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.menu-section ul li{
  list-style: none;
  margin-right: 10px;
}
.menu-section ul li a{
  text-decoration: none;
  display: inline-block;
  color: #282c3f;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding:30px 10px;
  font-size: 14px;
  position: relative;
  transition: all linear .3s;
  
}
.menu-section ul li a::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #f26a10;
  transition: all linear .2s;
}
.menu-section ul li a:hover::before{
  height: 2px;
}
.menu-section ul li a small{
  color: #ff3f6c;
  position: absolute;
  top: 45%;
  left: 110%;
  transform: translate(-50%,-50%);
  font-size: 10px;
}
/* profile-section */
.profile-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  padding: 0 20px;
}

/* profile-section */

.profile-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-section .search-bar-wrapper{
  width: 60%;
  position: relative;
}

.profile-section .search-bar-wrapper input{
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 24px;
    color: #696e79;
    padding: 8px 10px 10px;
    margin: 0;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-radius: 4px;
    border-left: 0;
    background: #f5f5f6;
    width: 100%;
    padding: 18px;
    padding-left: 40px;
}

.profile-section .search-bar-wrapper input::placeholder{
  color: #696e79;
  font-family: 'Roboto', sans-serif;
}
.profile-section .search-bar-wrapper input:focus{
  background: transparent;
  border: 1px solid #f5f5f6;
}
.profile-section .search-bar-wrapper span{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%,-50%);
}

.profile-section .profiles{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-section .profiles svg{
  display: block;
  margin: auto;
}
.profile-section .profile-single-block{
  display: block;
  text-align: center;
  margin-left: 15px;
}

.profile-section .profile-single-block span{
  display: inline-block;
}

/* coupon-section */
.coupon-section img{
  width: 100%;
}

/* Banner */
.banner img{
  width: 100%;
}

/* all-items */
.all-items{
  background-color: #fafafa;
  padding: 40px 0;
}
/* items-container */
.items-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

.items-container .item-container{
  width: 23%;
  margin-bottom: 15px;
}

.item-container .item-image-wrapper{
  overflow: hidden;
  position: relative;
}

.item-container .item-image{
  width: 100%;
  transition: all linear .3s;;
}
.item-container .item-image-wrapper:hover .item-image{
  transform: scale(1.1);
}
.item-container .rating {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 9;
  background-color: #fff;
  padding: 5px 10px;
}

.item-container .company-name {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-container .item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

.item-container .current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}

.item-container .original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.item-container .discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.item-container .btn-add-bag {
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
    background-color: #736ee1;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    color: #fff;
}

/* categories-wrapper */
.categories-wrapper{
  padding: 40px 0;
}

.all-category{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.all-category .single-category{
  width: 12.5%;
  display: block;
  text-align: center;
}

.all-category .single-category a{
  text-decoration: none;
  color: #282c3f;
  display: block;
}

.all-category .single-category a h5{
  margin-top: 10px;
}

.all-category .single-category a img{
  transition: all linear .2s;
}

.all-category .single-category a:hover img{
  transform: scale(1.1);
}

